

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

#header h3 a,
.hid,
hr,
legend {
    text-indent: -10000px;
}
body,
table {
    width: 100%;
}
body,
html {
    -webkit-text-size-adjust: none;
}
a,
body,
button,
figure,
li,
ol,
ul {
    margin: 0;
    padding: 0;
}
.blind,
.hid,
hr,
legend {
    position: absolute;
    top: 0;
}
#header h3 a,
.blind,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
.btn,
.menu ul li a,
a {
    text-decoration: none;
}
#quick_menu,
#wrap {
    overflow-x: hidden;
}


body {
    font-family: "Noto Sans KR", sans-serif;
    overflow-x: hidden;
}
body,
button,
h1,
h2,
h3,
h4,
h5,
input,
select,
table,
textarea {
    font-size: 16px;
    line-height: 1.25em;
}
mark {
    background: #ff0;
    color: #000;
}
.blind,
button {
    border: 0;
    background: 0 0;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
button,
input,
select {
    color: inherit;
    font: inherit;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
}
button {
    overflow: visible;
    cursor: pointer;
    line-height: 1;
}
button::-moz-focus-inner {
    margin: -1px;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}
button,
img,
input,
select {
    vertical-align: middle;
}
input,
select {
    line-height: 100%;
}
#header nav ul li a,
.btn,
.menu ul li a {
    color: #231e1e;
}
textarea {
    resize: none;
    font: inherit;
    overflow-y: auto;
}
html {
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
.hid,
hr,
legend {
    left: -10000%;
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}
.blind,
caption {
    overflow: hidden;
    height: 0;
    line-height: 0;
}
caption {
    visibility: hidden;
    width: 0;
    font-size: 0;
}
body {
    font-size: 14px;
    word-break: break-all;
}
figure,
li,
ol,
ul {
    list-style-type: none;
}
blockqoute,
cite {
    display: block;
    font-style: normal;
}
.menu-link,
.navbar-toggler,
.spinner-master,
.spinner-master input[type="checkbox"],
figcaption {
    display: none;
}
.blind {
    left: 0;
    width: 0 !important;
    min-width: 0 !important;
    font-size: 0;
}
#header h3,
#header h3 a {
    width: 150px;
    height: 70px;
}
.al {
    text-align: left !important;
}
.ac {
    text-align: center !important;
}
.ar {
    text-align: right !important;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
#header h3,
.menu li,
.menu > ul > li,
.nav_wrapper h3,
ul.logozone {
    float: left;
}
#wrap {
    width: 100%;
}
#header {
    margin: 50px;
}
#header h3 {
    background: url(../img/logo.png) no-repeat;
}
#header nav {
    width: 600px;
    float: right;
}
#header nav ul li {
    float: left;
    color: #fff;
    font-size: 23px;
    font-weight: 200;
    padding-left: 35px;
}
.nav_wrapper {
    position: relative !important;
    left: 0;
    top: 0;
    width: 1200px;
    transition: top 0.5s ease-out;
    z-index: 9999999;
    margin: 0 auto;
}

.nav_wrapper .header_wrap { width: 1300px; margin: 0 auto;}

.btn,
.btn:hover {
    transition: all 0.1s ease;
}
.nav_wrapper h3 {
    padding: 15px 0 15px 0;
}
.nav_wrapper h3 img {
    width: 260px;
    height: 65px;
}
#hero,
#hero img,
.menu {
    height: auto;
}
.scroll {
    top: -90px;
}
.no-scroll {
    top: 0;
    z-index: 9999;
}
.btn {
    padding: 10px 1%;
    margin: 5px;
    font-family: sans-serif;
}
.menu ul,
.menu > ul > li {
    display: inline-block;
}
.menu {
    width: 100%;
    background: #333;
    transition: all 0.3s ease;
}
.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.menu > li > ul.sub_menu {
    min-width: 10em;
    padding: 4px 0;
    background-color: #f4f4f4;
    border: 1px solid #fff;
}
.menu ul li {
    padding: 0;
}
.menu ul li a {
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.menu ul li > a {
    padding: 13px 0 0 38px;
}
.menu ul li > a:hover {
    color: #e1d65a;
}
.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background: #222;
}
.menu ul li:hover > ul,
ul.dropdown,
ul.logozone {
    display: block;
}
.menu ul ul > li {
    position: relative;
}
.menu ul ul > li a {
    padding: 10px 15px;
    height: auto;
    background: #222;
}
.menu ul ul > li a:hover {
    background: #ffdf00;
}
.menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
.visual,
.visual_background .box_wrap_big {
    position: relative;
    width: 100%;
    height: 570px;
    margin-top: 85px;
}
#hero {
    width: 100%;
    background: #e8ebf0;
    margin: 70px 0 20px;
}
#hero img {
    width: 100%;
}
ul.dropdown {
    float: right;
    margin-right: 0;
    padding: 20px 0 0px 0px;
    line-height: 25px;
}
li.tell {
    color: #fff;
    font-size: 1.8em;
}

.visual_background .text_wrap { text-align: center;  margin: 200px auto; padding: 0 20px 0 20px; box-sizing: border-box; }
.visual_background .text_wrap ul li { font-size: 49px; line-height: 63px; }
.visual_background .text_wrap .phone { background: #2A2A2C url(../img/call.png) 16px center no-repeat; width: 230px; margin: 60px auto; text-align: center; height: 60px;  padding-left: 25px;  box-shadow: 3px 4px 9px -5px rgb(27 27 29 / 20%); }
.visual_background .text_wrap .phone p { color:#fff; line-height: 59px; color: #fff; font-size: 23px; }
.visual_background .text_wrap .phone a { color:#fff;  }
.visual_background .text_wrap .none { display: none; }


.visual_box .swiper-button-next,
.visual_box .swiper-button-prev {
    display: none !important;
}
.b_01 {
    background: url(../img/visual_01.jpg) no-repeat;
}
.b_02 {
    background: url(../img/visual_02.jpg) no-repeat;
}
.b_03 {
    background: url(../img/visual_03.jpg) no-repeat;
}
.b_04 {
    background: url(../img/visual_04.jpg) no-repeat;
}
.visual .swiper-container {
    width: 100%;
    height: 100%;
}
.visual .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fff !important;
    width: 15px;
    height: 15px;
    margin-left: 5px !important;
	font-size: 3px;
    line-height: 16px;
	font-weight: 900;
}
.visual_height {
    bottom: 40px  !important;
}
.visual .swiper-wrapper {
    height: 898px !important;
}
#quick_menu {
    width: 116px;
    height: 334px;
    position: absolute;
    left: 56%;
    margin-left: 512px;
    top: 218px;
    background: #fff;
    z-index: 999;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.about_us,
.question {
    position: relative;
    overflow: hidden;
}
#quick_menu .i1 {
    background: url(../img/quick_02.png) top no-repeat;
    background-size: 47%;
    height: 30px;
}
#quick_menu .i2 {
    background: url(../img/quick_03.png) top no-repeat;
    background-size: 47%;
    height: 30px;
}
#quick_menu ul {
    margin-top: 20px;
}
#quick_menu ul li {
    padding: 15px 0;
    margin-bottom: 35px;
}
#quick_menu ul li a {
    display: block;
    text-align: center;
    color: #000;
    font-size: 15px;
    padding-top: 44px;
}
#quick_menu ul li a:hover {
    color: #9e8251;
}
#quick_menu .quick_top {
    width: 100%;
    height: 115px;
    background: url(../img/quick_01.png) center 23px no-repeat #2a2a2c;
    background-size: 29%;
    padding: 68px 10px 20px;
    box-sizing: border-box;
}
.about_us,
.question .question_wrap {
    padding: 20px;
    box-sizing: border-box;
}
#quick_menu .quick_top p {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.footer .footer_inner .footer_bottom ul li,
.footer .footer_inner .footer_top ul li {
    color: #939290;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

.footer {
    position: relative;
    clear: both;
    height: 200px;
    background: #222021;
    padding: 20px;
    box-sizing: border-box;
}
.footer .footer_inner {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}
.footer .footer_inner .footer_top {
    position: relative;
    width: 1300px;
    padding-top: 10px;
}


.footer .footer_inner .footer_top .second { clear: both; padding-top: 10px; }

.footer .footer_inner .footer_top .second li { padding-left: 0; }

.footer .footer_inner .footer_top .second li::after {

    background: none;
}


.footer .footer_inner .footer_top ul li {
    position: relative;
    float: left;
    padding-left: 20px;
    font-size: 16px;
	word-break: keep-all;
    line-height: 26px;
}

.footer .footer_inner .footer_top ul li::after {
	content: "";
    position: absolute;
    top: 8px;
    left: 11px;
    width: 1px;
    height: 12px;
    background: #585858;
}

.footer .footer_inner .footer_top p { padding-top: 15px; color: #939290; font-size: 16px; clear: both;
    line-height: 23px; }

.footer .footer_inner .footer_top ul .text_first {padding-left: 0; }

.footer .footer_inner .footer_top ul .text_first::after {
	background: none !important; 
}


.footer .footer_inner .footer_top .none { border: none; }



.footer .footer_inner .footer_bottom {
    clear: both;
    padding-top: 20px;
}
.footer .footer_inner .footer_bottom h3 img {
    width: 130px;
    height: 37px;
}
.footer .footer_inner .footer_bottom ul {
    margin-top: 10px;
}
.footer .footer_inner .footer_bottom ul li {
    font-size: 15px;
    line-height: 23px;
}
.footer .footer_inner .footer_bottom .text_last {
    margin-top: 7px;
    font-size: 14px;
    color: #6c6c6c;
}
#MOVE_TOP_BTN {
    position: fixed;
    right: 3%;
    bottom: 50px;
    display: none;
    z-index: 999;
    border: 1px solid #a8abad;
    border-radius: 42px;
    background: url(../img/arrowtop.png) center 14px no-repeat #f1f2f3;
    padding: 18px;
    width: 18px;
    height: 16px;
    color: #fff;
    line-height: 35px;
    font-size: 14px;
    font-family: NanumSquareRound, sans-serif;
    text-align: center;
    text-indent: -9999px;
}
#MOVE_TOP_BTN:hover {
    background: url(../img/arrowtop_hover.png) center 14px no-repeat #f1f2f3;
    border-color: #e3d55b;
}


.mobile_quick_menu { display: none; }


/*절차안내*/
.procedure_guide { width: 100%; height: 500px;  background: #f3f3f3; overflow: hidden;  }
.procedure_guide .procedure_guide_wrap { width: 1200px; margin: 0 auto; padding-top: 40px;  }
.procedure_guide .procedure_guide_wrap .text { text-align: center; }
.procedure_guide .procedure_guide_wrap .text h3 { font-size: 35px; font-weight: 600;  }
.procedure_guide .procedure_guide_wrap .text p { font-size: 20px; padding-top: 20px; }


.procedure_guide .procedure_guide_wrap .icon_wrap { width: 1200px; margin: 50px auto; }
.procedure_guide .procedure_guide_wrap .icon_wrap .icon { border: 1px solid #c0c0c0; width:188px; height: 165px; float: left;
 margin-left: 52px;  box-sizing: border-box; position: relative; box-shadow: 3px 4px 9px -5px rgb(27 27 29 / 20%);  }
.procedure_guide .procedure_guide_wrap .icon_wrap .icon_01 {  background: #fff url(../img/01_call.png) center center no-repeat;}
.procedure_guide .procedure_guide_wrap .icon_wrap .icon_02 {  background: #fff url(../img/02_calc.png) center center no-repeat;}
.procedure_guide .procedure_guide_wrap .icon_wrap .icon_03 {  background: #fff url(../img/03_mag.png) center center no-repeat;}
.procedure_guide .procedure_guide_wrap .icon_wrap .icon_04 {  background: #fff url(../img/04_doc.png) center center no-repeat;}
.procedure_guide .procedure_guide_wrap .icon_wrap .icon_05 {  background: #fff url(../img/05_money.png) center center no-repeat;}
.procedure_guide .procedure_guide_wrap .icon_wrap .icon .text { padding-top: 190px; position: relative; }
.procedure_guide .procedure_guide_wrap .icon_wrap .icon::after {  
    position: absolute;
    content: "";
    background: url(../img/left_arrow.png) center center no-repeat;
    width: 15px;
    height: 20px;
    margin-left: 112px;
    top: 68px;
    left: 50%;}

.procedure_guide .procedure_guide_wrap .icon_wrap .icon_05::after { background: none; } 




.procedure_guide .procedure_guide_wrap .icon_wrap .icon .text h3 { font-size: 19px; position: relative; }

.procedure_guide .procedure_guide_wrap .icon_wrap .icon .text h3::after {
    position: absolute;
    content: "";
    background: #f0ab5f;
    width: 38px;
    height: 2px;
    margin-left: -19px;
    top: 35px;
    left: 50%; }
.procedure_guide .procedure_guide_wrap .icon_wrap .icon .text p { padding-top: 28px; }


/*서비스 품목*/
.service_items {  width: 100%; height: 670px;  overflow: hidden; background: #f9f0e6; }
.service_items .service_items_wrap { width: 960px; margin: 50px auto; }
.service_items .service_items_wrap .text { text-align: center; }
.service_items .service_items_wrap .text h3 { font-size: 35px; font-weight: 600;  }
.service_items .service_items_wrap .text p { font-size: 20px; padding-top: 20px; }


.service_items .service_items_wrap  .icon_wrap { width: 1200px; margin: 50px auto;   }
.service_items .service_items_wrap  .icon_wrap .icon { width: 216px; height: 420px; float: left;
 margin-left: 30px;  box-sizing: border-box; position: relative; padding: 15px;  box-sizing: border-box; box-shadow: 3px 4px 9px -5px rgb(27 27 29 / 20%); }





.service_items .service_items_wrap  .icon_wrap .icon_01 { margin-left: 0;  background: #fff url(../img/001-sale-sign.png) top 50px center no-repeat;}
.service_items .service_items_wrap  .icon_wrap .icon_02 {  background: #fff url(../img/002-buying.png) top 50px center no-repeat;}
.service_items .service_items_wrap  .icon_wrap .icon_03 {  background: #fff url(../img/003-loan.png) top 50px center no-repeat;}
.service_items .service_items_wrap  .icon_wrap .icon_04 {  background: #fff url(../img/004-mag.png) top 50px center no-repeat;}
.service_items .service_items_wrap  .icon_wrap .icon .text { padding-top: 190px; position: relative; }
.service_items .service_items_wrap  .icon_wrap .icon .text h3 { font-size: 22px; font-weight: 600; margin-top: 10px; }
.service_items .service_items_wrap  .icon_wrap .icon .text ul { margin-top: 40px; }
.service_items .service_items_wrap  .icon_wrap .icon .text ul li { font-size: 16px;  line-height: 24px;  }


.service_items .service_items_wrap  .icon_wrap .icon .text::after {
    position: absolute;
    content: "";
    background: #f0ab5f;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    top: 244px;
    left: 50%; }


/* 언니네 전당포 선택하는 이유*/

.select {  width: 100%; height: 530px;  overflow: hidden;  background: #fff url(../img/bg.jpg) no-repeat; }
.select .select_wrap { width: 1200px; margin: 60px auto; }
.select .select_wrap .text { text-align: center; color: #fff;  }
.select .select_wrap .text h3 { font-size: 35px; font-weight: 300;  }
.select .select_wrap .text p { font-size: 20px; padding-top: 20px; }
.select .select_wrap .icon_zone { width: 1200px; margin: 70px auto; }
.select .select_wrap .icon_zone .icon { width: 270px; float: left; background: #fff; height: 270px; border-radius: 180px; margin-right: 30px; 
    text-align: center; padding: 15px; box-sizing: border-box;     box-shadow: 3px 4px 9px -5px rgb(27 27 29 / 20%); }
.select .select_wrap .icon_zone .icon .icon_01 { margin-left: 0; }
.select .select_wrap .icon_zone .icon h3 { margin-top: 40px; font-size: 22px; font-weight: 600; position: relative; }
.select .select_wrap .icon_zone .icon h3::after { position: absolute;
    content: "";
    background: #f0ab5f;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    top: 45px;
    left: 50%; }
.select .select_wrap .icon_zone .icon ul { margin-top: 30px; }
.select .select_wrap .icon_zone .icon ul li { font-size: 16px; line-height: 24px; }



/*지도 */
.map {  width: 100%; height: 700px;  overflow: hidden; background: #fff; padding-bottom: 40px; }
.map .map_wrap { width: 1200px; margin: 50px auto;  padding: 20px; box-sizing: border-box; }
.map .map_wrap .text { text-align: center; }
.map .map_wrap .text h3 { font-size: 35px; font-weight: 600;  }
.map .map_wrap .text p { font-size: 20px; padding-top: 20px; }
.map .map_wrap .map_in { margin-top: 30px; }

.map .map_wrap .map_detail { width: 1200px; margin: 30px auto; }
.map .map_wrap .map_detail .box { float: left; margin-left: 30px; }
.map .map_wrap .map_detail .box_01 { margin-left: 0; }
.map .map_wrap .map_detail .box .big_text { width: 80px; height: 30px; background: #272524; border-radius: 10px; text-align: center; }
.map .map_wrap .map_detail .box .big_text p { color: #fff; line-height: 28px; font-size: 16px; }
.map .map_wrap .map_detail .box ul { margin-top: 15px;  font-size: 16px; }
.map .map_wrap .map_detail .box ul li { line-height: 23px; }
.map .map_wrap .map_detail .box_02 .big_text { width:146px !important; }


@media screen and (max-width: 1024px) {
    
    
    
    .nav_wrapper h3 {
        padding: 10px 0 0 20px;
    }

    .nav_wrapper {
        width: 100%; 
        background-color: #fff;
        height: 70px;
    }
    .menu li,
    .menu > ul > li {
        float: none;
    }
    ul.logozone li {
        display: none;
    }
    ul.dropdown {
        float: left;
        padding: 50px;
    }
    .example-header .container {
        width: 100%;
    }
    .menu ul li > a {
        font-size: 18px;
        color: #fff; 
        font-weight: 300 !important;
    }
    .spinner-master * {
        transition: all 0.3s;
        box-sizing: border-box;
    }
    .spinner-master {
        display: block;
        position: relative;
        margin: 15px;
        height: 30px;
        width: 30px;
        float: right;
    }
    .spinner-master label {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 19px;
        left: 0;
    }
    .spinner-master .spinner {
        position: absolute;
        height: 4px;
        width: 100%;
        padding: 0;
        background-color: #383535;
    }
    .spinner-master .diagonal.part-1 {
        position: relative;
        float: left;
    }
    .spinner-master .diagonal.part-2,
    .spinner-master .horizontal {
        position: relative;
        float: left;
        margin-top: 4px;
    }
    .spinner-master input[type="checkbox"]:checked ~ .spinner-spin > .horizontal {
        opacity: 0;
    }
    .spinner-master input[type="checkbox"]:checked ~ .spinner-spin > .diagonal.part-1 {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-top: 10px;
    }
    .spinner-master input[type="checkbox"]:checked ~ .spinner-spin > .diagonal.part-2 {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin-top: -12px;
    }
    a.menu-link {
        display: block;
        color: #fff;
        float: left;
        text-decoration: none;
        padding: 10px 16px;
        font-size: 1.5em;
    }
    a.menu-link:hover {
        color: #efac60;
    }
    .menu li a,
    .menu ul li a:hover {
        color: #efac60;
    }
    a.menu-link:after {
        content: "\2630";
        font-weight: 400;
    }
    a.menu-link.active:after {
        content: "\2715";
    }
    .menu {
        clear: both;
        min-width: inherit;
        float: none;
    }
    .menu,
    .menu > ul ul {
        overflow: hidden;
        max-height: 0;
        background-color: #333;
    }
    .menu > li > ul.sub-menu {
        padding: 0;
        border: none;
    }
    .menu.active,
    .menu > ul ul.active {
        max-height: 55em;
    }
    .menu ul {
        display: inline;
    }
    .menu li,
    .menu li a,
    .menu > ul > li {
        display: block;
    }
    .menu > ul > li:last-of-type a {
        border: none;
    }
    .menu li a {
        padding: 0.8em;
        position: relative;
    }
    .menu li.has-submenu > a:after {
        content: "+";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 1.5em;
        padding: 0.55em 0.5em;
    }
    .menu li.has-submenu > a.active:after {
        content: "-";
    }
    .menu ul ul > li a {
        background-color: #333;
        padding: 10px 18px 10px 30px;
        font-weight: 
    }
    .menu ul li.hover > a {
        color: #efac60;
    }
    .menu ul ul,
    .menu ul ul ul {
        display: inherit;
        position: relative;
        left: auto;
        top: auto;
        border: none;
    }
    .nav_wrapper h3 img {
        margin-top: 8px;
    }
    .m_certificate {
        display: block;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        background: #444;
    }
    .m_certificate .img_box {
        width: 31.6%;
        float: left;
        margin-left: 2.5%;
        border: 1px solid #efefef;
        box-sizing: border-box;
        text-align: center;
        background: #fff;
    }
    .m_certificate .img_box img {
        width: 100%;
        height: 100%;
    }
    .m_certificate .b_first {
        margin-left: 0 !important;
    }
	

/* 비주얼 사진*/
.visual, .visual_background .box_wrap_big { margin-top: 20px; }
.b_01 { background-position: 73% 1%; }   
.b_02 { background-position: 73% 1%; } 
.b_03 { background-position: 73% 1%; }   
.b_04 { background-position: 73% 1%; }   
  
/*절차안내*/
 .procedure_guide { width: 100%; }
 .procedure_guide .procedure_guide_wrap { width: 100%; }
 .procedure_guide .procedure_guide_wrap .text { width: 100%; }  
 .procedure_guide .procedure_guide_wrap .icon_wrap { width: 90%; margin: 50px auto;  }    
 .procedure_guide .procedure_guide_wrap .icon_wrap .icon { width: calc(15.9% - 0px); height: 130px; margin-left: 4%; }  
 .procedure_guide .procedure_guide_wrap .icon_wrap .icon .text { padding-top: 159px; } 
 .procedure_guide .procedure_guide_wrap .icon_wrap .icon::after { left: 109%;
    top: 46%; margin-left: 0;  background-size: 13px 18px; } 
    
 
/*서비스 품목*/
.service_items .service_items_wrap .text h3 { font-size: 30px; }
.service_items .service_items_wrap .text p { font-size: 18px; padding-top: 15px; }

.service_items { width: 100%; height: 1500px; padding-bottom: 52px;  }
.service_items .service_items_wrap { width: 100%; }
.service_items .service_items_wrap .text { width: 100%; }
.service_items .service_items_wrap .icon_wrap { width: 85%; margin: 30px auto; }

.service_items .service_items_wrap .icon_wrap .icon { width: calc(48.2% - 0px);  margin-left: 3.5%; }

.service_items .service_items_wrap .icon_wrap .icon_01 {  margin-left: 0; }
.service_items .service_items_wrap .icon_wrap .icon_03 { margin: 30px 0 0 0; }
.service_items .service_items_wrap .icon_wrap .icon_04 { margin-top: 30px; }
.service_items .service_items_wrap .icon_wrap .icon_05 {margin: 30px 0 0 0;  }
    
        
    
    
    .select { width: 100%;  height: 800px; background-size: cover; }  
    .select .select_wrap { width: 90%;  }
    .select .select_wrap .text h3 { font-size: 30px; }
    .select .select_wrap .text p { font-size: 18px; padding-top: 15px; }   
    .select .select_wrap .icon_zone { width: 90%; margin: 70px auto; }
    
    .select .select_wrap .icon_zone .icon {  width: calc(47.8% - 0px); margin-left: 4.3%;  margin-right: 0; border-radius: 79px; }
    .select .select_wrap .icon_zone .icon_01 { margin: 0; }
    .select .select_wrap .icon_zone .icon_03 { margin: 30px 0 0 0 ; }
    .select .select_wrap .icon_zone .icon_04 { margin-top: 30px;  }   

    
    
    .map { width: 100%;  height: 700px;  padding-bottom: 30px; background-size: cover;  }  
    .map .map_wrap { width: 100%;   }
    .map .map_wrap .text h3 { font-size: 30px; }
    .map .map_wrap .text p { font-size: 18px; padding-top: 15px; }     
    .map .map_wrap .map_in { margin-top: 30px; }

    
    .map .map_wrap .map_detail { width: 100%;  }
    .map .map_wrap .map_detail .box { width: 100%;  float: left; margin-left: 30px; }
    .map .map_wrap .map_detail .box_01 { margin-left: 0; }
    .map .map_wrap .map_detail .box .big_text { width: 80px; height: 30px; background: #272524; border-radius: 10px; text-align: center; }
    .map .map_wrap .map_detail .box .big_text p { color: #fff; line-height: 28px; font-size: 16px; }
    .map .map_wrap .map_detail .box ul { margin-top: 15px;  font-size: 16px; }
    .map .map_wrap .map_detail .box { width: 44%; }

    
    
    
    
    
    
    
    
    
    
    .footer { width: 100%; height: 330px; padding-bottom: 50px; }
    .footer .footer_inner  { width: 100%; }
    .footer .footer_inner .footer_top { width: 100%; }
    .footer .footer_inner .footer_top ul li::after { background: none; }
    .footer .footer_inner .footer_top ul li { padding-left: 0; line-height: 25px;  }
    .footer .footer_inner .footer_top p { line-height: 25px; clear: both; }
    
    #quick_menu { display: none !important; }  
    
    
}





@media screen and (max-width: 768px) {
    
    .visual_background .text_wrap ul li { font-size: 44px; line-height: 60px; }
    
    .procedure_guide { height: 400px; }
    .procedure_guide .procedure_guide_wrap .text h3 { font-size: 30px; }
    .procedure_guide .procedure_guide_wrap .text p { font-size: 18px; padding-top: 15px; }
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon { width: calc(15.9% - 0px); height: 99px; }
    .procedure_guide .procedure_guide_wrap .icon_wrap { margin-top: 30px; }
    
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_01 { background-size: 50px 40px; } 
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_02 { background-size: 50px 40px; } 
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_03 { background-size: 50px 40px; } 
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_04 { background-size: 50px 40px; } 
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_05 { background-size: 50px 40px; } 
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon .text { padding-top: 125px; }

    .procedure_guide .procedure_guide_wrap .icon_wrap .icon .text h3 { font-size: 16px; }
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon .text h3::after { top: 32px; }
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon .text p { font-size: 16px; }
    
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon::after { background-size: 10px 13px; }
    

    .service_items { height: 2370px; }
    .service_items .service_items_wrap .icon_wrap .icon { width: 100%; }
    .service_items .service_items_wrap .icon_wrap .icon_02, .service_items .service_items_wrap .icon_wrap .icon_04  { margin: 30px 0 0 0;  }
      
  
.visual_background .text_wrap .none { display: block;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 458px;
    font-size: 16px;
    font-weight: 700;}
    
    
    
    
    
}




@media screen and (max-width:580px) {
    
    #quick_menu { display: none!important; }
    
    .nav_wrapper h3 img { width: 225px; height: 58px; }
    
    .procedure_guide { height: 814px; }
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon { width: calc(43% - 0px); height: 99px; margin-bottom: 116px; margin-left: 7%; }
    .procedure_guide .procedure_guide_wrap .icon_wrap { margin-top: 30px; }

    .procedure_guide .procedure_guide_wrap .icon_wrap .icon_02::after, .procedure_guide .procedure_guide_wrap .icon_wrap .icon_04::after  { background: none; }
    .procedure_guide .procedure_guide_wrap .icon_wrap .icon::after { left: -106px; }
  
    .select { height: 1345px; padding-bottom: 80px;  } 
    .select .select_wrap .icon_zone .icon {  width: 100%; }
    .select .select_wrap .icon_zone .icon_02 { margin: 30px 0 0 0; }
    .select .select_wrap .icon_zone .icon_04 { margin: 30px 0 0 0; }

    
.visual_background .text_wrap ul li {  font-size: 42px;  line-height: 57px; }   
    
 .visual_background .text_wrap .none { display: block;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 458px;
    font-size: 17px;
    font-weight: 700;}
       
 
z-index: 9999; bottom: 0;  right: 0; left: 0; position: fixed; padding: 10px; box-sizing: border-box;  }
 .mobile_quick_menu ul li { float: left; width: 49%; margin-left: 1.5%; text-align: center; }
 .mobile_quick_menu ul .i1 { margin-left: 0; }
 .mobile_quick_menu ul li a { color: #fff; display: block; text-align: center; padding-top: 54px; }
 .mobile_quick_menu .i1 { background: url(../img/quick_call.png) top 8px center no-repeat;
background-size: 42px 36px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); }
.mobile_quick_menu .i2 { background: url(../img/quick_02.png) top 8px center no-repeat;
background-size: 42px 36px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); } 
    
    
 .procedure_guide .procedure_guide_wrap .icon_wrap .icon::after {left: 106%; } 
 .procedure_guide .procedure_guide_wrap .icon_wrap .icon_05::after {left: 106%;
     background: url(../img/down_arrow.png) no-repeat; background-size: 12px 9px;
        top: -77px; left: 47%; margin-top: 60px;  }    
    
 
    
.footer { height: 490px; }    
    
    
}



@media screen and (max-width:480px) {
    
    
 
.visual_background .text_wrap ul li {
    font-size: 35px;
    line-height: 47px;
}

   
    

    
    
}



@media screen and (max-width:320px) {
    
    
 
.visual_background .text_wrap ul li {
    font-size: 32px;
    line-height: 43px;
}

   
    

    
    
}








